BarkingOwl==0.3.2
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
beautifulsoup4==4.3.2
itsdangerous==0.24
libmagic==1.0
pika==0.9.13
python-magic==0.4.6
six==1.5.2
tldextract==1.5.1
virtualenv==1.11.6
wsgiref==0.1.2
